@use "./plug" as p;

#gallery-page {
    // border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: p.$accent-color;

    h1 {
        font-size: 60px;
        color: p.$primary-color;
    }
    p {
        font-size: 20px;
        color: p.$primary-color;
    }
}

