@use "./plug" as p;

.location {
    // border: 1px solid red;
    display: flex;
    background-color: p.$accent-color;

    .location-header {
        // border: 1px solid red;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 62px;
        color: p.$primary-color;
        // height: 100%;
    }

    .location-map-container {
        // border: 1px solid red;
        width: 50%;
    }
}

@media screen and (max-width: p.$tablet-sm) {
    .location {
        flex-direction: column;

        .location-header {
            // border: 3px solid red;
            width: 100%;
        }

        .location-map-container {
            // border: 5px solid red;
            width: 100%;
            margin: 0 auto;
        }
    }
}