@use "./plug" as p;

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  z-index: 1;

  .nav-logo {
    width: 40%;
    display: flex;
    justify-content: flex-start;

    figure {
      width: 15%;
      height: 100%;
      // border: 1px solid red;
      @include p.flexCenter;
      font-size: 3rem;
      color: p.$primary-color;
    }
  }

  .nav-links {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      font-size: clamp(16px, 2vw, 24px);
      text-decoration: none;
      color: p.$accent-color;
      padding: 10px;
      border-radius: p.$borderRadius;
    }

    a:hover {
      color: p.$primary-color;
      background-color: p.$accent-color;
      transition: all 0.25s ease;
    }
  }
}

// Mobile Nav Section
.mobile-nav {
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .mobile-nav-logo {
    @include p.flexCenter;
    // border: 1px solid red;
    width: 20%;
    font-size: 3rem;
    color: p.$primary-color;
  }

  .mobile-toggle {
    // border: 1px solid red;
    cursor: pointer;
    width: 20%;
    border: none;
    background: none;

    i {
      // border: 1px solid red;
      font-size: 2.25rem;
      color: p.$text-color;
    }
  }
}

// Mobile slider
.mobile-slider {
  position: fixed;
  top: 0;
  right: -100%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;

  &.open {
    right: 0;
  }

  ul.mobile-slider-links {
    list-style: none;
    padding: 2rem;
    margin: 0;

    li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: p.$primary-color;
        font-size: 2rem;

        &:hover {
          color: #818cf8;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 999;

  .mobile-slider.open + & {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (max-width: 968px) {
  nav {
    .nav-links {
      width: 75%;
    }
    .nav-logo {
      width: 25%;

      figure {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  nav {
    .nav-links,
    .nav-logo {
      display: none;
    }
  }

  .mobile-nav {
    display: flex;
  }
}
