@use "./plug" as p;

.summer {
    display: flex;
    height: auto;
    background-color: p.$support-color;

    .summer-container {
        margin: 20px;
        border-radius: p.$borderRadius;
        width: 65%;
        padding: 20px;

        h1 {
            font-size: 50px;
            color: p.$primary-color;
        }

        h3 {
            font-size: 20px;
            color: p.$primary-color;
        }

        .summerDates-container {
            height: 50%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding: 20px;

            button {
                width: 200px;
                height: 60px;
                font-size: 18px;
                border-radius: p.$borderRadius;
                border: none;
                background-color: p.$primary-color;
                color: p.$support-color;
            }

            button:hover {
                background-color: p.$text-color;
                box-shadow: p.$boxShadow;
                transition: all 0.25s ease;
            }

            #payment {
                width: 300px;
            }
        }
    }

    .summer-right-container {
        width: 35%;

        figure {
            width: 90%;
            height: 50%;
            margin: 20px auto;
            box-shadow: p.$boxShadow;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-radius: p.$borderRadius;
            }
        }

        h3 {
            margin: 30px auto;
            text-align: center;
            color: p.$primary-color;
            padding: 10px;
        }
    }
}


@media screen and (max-width: 800px) {
    .summer {
        .summer-container {
            width: 40%;

            .summerDates-container {
                height: auto;

                button, #payment {
                    width: 100%;
                }
            }
        }
        .summer-right-container {
            width: 60%;
        }
    }
}




@media screen and (max-width: 768px) {
    .summer {
        flex-direction: column;

        .summer-container {
            width: 100%;
            margin: 0 auto;

            .summerDates-container {
                
                button, #payment {
                    width: 70%;
                    margin: 0 auto;
                }
            }
        }

        .summer-right-container {
            width: 100%;
        }
    }
}

@media screen and (max-width: 493px) {
    .summer {
        .summer-container {
            .summerDates-container {
                button, #payment {
                    width: 100%;
                }
            }
        }
    }
}